:root {
    --primary-color: #007bff;
    --background-color: #fafbfb;
    --text-color: #333333;
    --border-color: #dddddd;
    --occupied-color: #D9534F;
    --available-color: #5cb85c;
    --past-color: #f0f0f0;
    --past-ocupied-color: #e4a3a3;
    --switch-bg-url: url(sun.svg);
}

[data-theme="dark"] {
    --primary-color: #0056b3;
    --background-color: #333333;
    --text-color: #ffffff;
    --border-color: #444444;
    --occupied-color: #c9302c;
    --available-color: #449d44;
    --past-color: #2a2a2a;
    --past-ocupied-color: #3a3a3a;
    --switch-bg-url: url(moon-stars.svg);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 64px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #cccccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    content: "";
    background: white var(--switch-bg-url) no-repeat center;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

input:checked + .slider {
    background-color: #66bb6a;
}

.light #switch button {
    animation: slide-in 0.4s forwards;
}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: var(--text-color);
}

#diasSemana {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 20px;
    font-weight: bold
}

.dia {
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 5px;
    }

.horario {
    padding: 10px;
    margin: 3px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.horario-hora {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
}

.horario-nome-assunto {
    display: block;
    font-size: 0.9em;
}

.available {
    background-color: var(--available-color);
    color: white;
}

.occupied {
    background-color: var(--occupied-color);
    color: white;
    display: flex;
    font-size: 14px; /* Fonte menor para Nome e Assunto */
}

.past {
    background-color: var(--past-color);
    color: #999;
    cursor: not-allowed;
}

.past-occupied {
    background-color: var(--occupied-color); /* Cor de ocupado */
    opacity: 0.5; /* Aumenta a opacidade para mais visível */
    color: #fff;
    cursor: not-allowed;
    display: flex;
    filter: brightness(0.8); /* Adiciona uma redução de brilho */
    font-size: 14px; /* Fonte menor para Nome e Assunto */
}

/* Theme Switch */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #cccccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.mobile-action-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    transform: translateY(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    display: none;
}

.mobile-action-sheet.active {
    transform: translateY(0);
}

.action-sheet-content {
    padding: 20px;
}

.action-sheet-option {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.action-sheet-option:last-child {
    border-bottom: none;
}

.action-sheet-cancel {
    margin-top: 10px;
    color: #D9534F;
    font-weight: bold;
}

/* Estilos para desktop */
@media (min-width: 769px) {
    .appointment {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    .appointment-details {
      display: flex !important; /* Sempre visível no desktop */
      font-size: 0.9em;
      gap: 10px;
    }
  }
  
  /* Estilos para mobile */
  @media (max-width: 768px) {
    .appointment-details {
      display: none; /* Oculto por padrão no mobile */
      margin-top: 5px;
    }
    .appointment {
      padding: 10px;
    }
  }

  /* Estilos para mobile */
@media (max-width: 768px) {
    .theme-switch-wrapper {
        position: fixed; /* Fixa o botão na parte superior do mobile */
        right: 20px;
        top: 20px;
        z-index: 1000; /* Garante que esteja sempre por cima */
    }

    .appointment-details {
        display: none; /* Oculto por padrão no mobile */
        margin-top: 5px;
    }

    .appointment {
        padding: 10px;
    }
}
input[type="text"] {
    text-transform: uppercase; /* Transforma o texto em maiúsculo */
}

@media (max-width: 768px) {
    #diasSemana {
        grid-template-columns: 1fr; /* Exibe apenas um dia por vez no modo HOJE */
    }
}

.logo {
    max-width: 30%; /* Para dispositivos móveis, a logo ocupará no máximo 30% da largura */
    height: auto;    /* Mantém a proporção da imagem */
    display: block;  /* Para evitar espaços indesejados embaixo da imagem */
    margin-left: left; /* Para mobile, adiciona margem à esquerda */
}

@media (min-width: 768px) { /* Para desktop */
    .logo {
        max-width: 12%; /* Para desktop, a logo ocupará no máximo 12% da largura */
        margin: 0 auto;  /* Centraliza a logo horizontalmente no desktop */
    }
}

.sala-info {
    text-align: center; /* Centraliza o conteúdo dentro do contêiner */
    margin-bottom: 5px; /* Espaço abaixo da logo e do título */
}

